<link rel="stylesheet" href="/stylesheets/style1.css"/>

<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/profile/edit/{{user.id}}">
            <fieldset>

                <legend>Edit Profile</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="email">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="email" value="{{email}}" name="email" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="description">Description</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="description" rows="5" name="description" required>{{description}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" href="/profile/edit/{{user.id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

