<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <profile>
                <header>
                    <h2>{{profile.username}}</h2>
                </header>

                <p>
                    {{profile.score.score}}
                </p>

                <small class="author">
                    {{profile.userInfo.email}}
                </small>

            </profile>
        </div>
    </div>
</div>