<link rel="stylesheet" href="/stylesheets/style1.css"/>

<div id="background" class="container">
    <div class="row">
        <div class="col-md-3 center-lobby">
            <img src="#" class="lobby-image">
        </div>
        <div class="col-md-3 right-lobby">
            <p class="center-description color story">On the picture you can see Edna.She has been playing our game
                ever since. Sadly for her "Breakout" is such a fascinating and amusing game , that she got so addicted to
                it . She could't stop herself from playing. In an attempt of giving up her harmful to her health habit ,
                she has to wear a restraining jacket until she loses the urge to keep on playing. But why don't you give it a try ?
            </p>
            <a href="/game/break/{{user.id}}" class="btn btn-primary btn-lg play-btn">PLAY NOW!</a>
        </div>
    </div>
    <div class = "col-md-3 ladder_button color">
        <a href="/leaderboard/leaderboard" class = "btn btn-primary btn-lg ladder-btn">Leaderboard</a>
    </div>
</div>
</div>