<div class="header">
    <div class="container">
        <h2>Leaderboard</h2>
    </div>
</div>

<div class="container body-content">

    <table class="table table-striped table-hover">

        <thead>
        <tr>
            <th>Name</th>
            <th style="width: 60px">Score</th>
            <th style="width: 20px"></th>
            <th style="width: 20px"></th>
            <th style="width: 20px"></th>
        </tr>
        </thead>

        <tbody data-link="row" class="rowlink">

        {{#each profiles}}
            <profile>
                <tr>
                    <td class="name"><a href="/profile/profile/{{this.user.id}}"></a>{{this.user.username}}</td>
                    <td class="score"><span class="badge">{{this.score}}</span></td>
                </tr>
            </profile>
        {{/each}}

        </tbody>
    </table>
</div>
